<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Budaya Kita</title>
  <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon">
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="fonts/icon-font/css/style.css">
  <link rel="stylesheet" href="fonts/typography-font/typo.css">
  <link rel="stylesheet" href="fonts/fontawesome-5/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&amp;display=swap" rel="stylesheet">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" href="plugins/aos/aos.min.css">
  <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="plugins/nice-select/nice-select.min.css">
  <link rel="stylesheet" href="plugins/slick/slick.min.css">
  <link rel="stylesheet" href="plugins/slick/slick-theme.css">
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/flexslider/flexslider.css">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="css/main.css">
  <!-- Custom stylesheet -->
  
</head>

<body data-theme-mode-panel-active data-theme="light" style="font-family: 'Mazzard H';">

  <div class="site-wrapper overflow-hidden position-relative">
    <!-- Site Header -->
    <!-- Preloader -->
    <!-- <div id="loading">
    <div class="preloader">
     <img src="./image/preloader.gif" alt="preloader">
   </div>
   </div>    -->
    <!--Site Header Area -->
    <header class="site-header site-header--menu-right dark-mode-texts landing-17-menu  site-header--absolute site-header--sticky">
      <div class="container-fluid">
        <nav class="navbar site-navbar">
          <!-- Brand Logo-->
          <div class="brand-logo">
            <a href="index.html">
              <!-- light version logo (logo must be black)-->
              <img src="image/logo-black.png" alt="" class="light-version-logo">
              <!-- Dark version logo (logo must be White)-->
              <img src="image/logo-white.png" alt="" class="dark-version-logo">
            </a>
          </div>
          <div class="menu-block-wrapper">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="mobile-menu-head">
                <div class="go-back">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="site-menu-main">
				<li class="nav-item">
                  <a href="index.html" class="nav-link-item">Beranda</a>
                </li>
				<li class="nav-item">
                  <a href="cagar-budaya.html" class="nav-link-item">Cagar&nbsp;Budaya</a>
                </li>
				<li class="nav-item">
                  <a href="wbtb.html" class="nav-link-item">Warisan&nbsp;Budaya&nbsp;Takbenda</a>
                </li>
				<li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Lembaga&nbsp;Kebudayaan<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu">
                    <li class="sub-menu--item">
					  <a href="#">Museum</a>
					</li>
					<li class="sub-menu--item">
					  <a href="#">Sanggar</a>
					</li>
					<li class="sub-menu--item">
					  <a href="#">Taman Budaya</a>
					</li>
				  </ul>
				</li>
				<li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Objek&nbsp;Lain<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu">
                    <li class="sub-menu--item">
                      <a href="#">Sumber Daya Manusia</a>
                    </li>
					<li class="sub-menu--item">
                      <a href="#">Sarana Prasarana</a>
                    </li>
					<li class="sub-menu--item">
                      <a href="#">Substansi Kebudayaan</a>
                    </li>
				  </ul>
				</li>
				<li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Fitur&nbsp;Lain<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu">
					<li class="sub-menu--item">
                      <a href="spasial.html">Data Spasial</a>
                    </li>
					<li class="sub-menu--item">
                      <a href="#">Statistik</a>
                    </li>
					<li class="sub-menu--item">
                      <a href="gallery.html">Galeri Foto</a>
                    </li>
				  </ul>
				  </li>
				</ul>
            </nav>
          </div>

          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </header>
    <!-- navbar- -->
        <!-- content begin -->
    
      <div class="content">
            
        <!-- section begin -->
        <div class="container-fluid pg-header" style="background-image: url(image/topimages/bg-wbtb-small.jpg);">
                <div class="pg-header-content">
                    <h1 class="pg-title">
                        Rumah Adat Karo
                    </h1>
                </div>
        </div>
	  </div>
    <!-- section close -->


    <!-- Content Area-1 -->
<div class="container">

	
	
<div class="row">
	<div class="col-12">
		<div class="card card-margin">
			<div class="card-body">
				
				<!--slide show-->
				<div class="container pg-content">
                	<div class="row">
                    	<div class="col-md-6">

                        	<div class="selik">
        						<div>
            						<img src="image/objek-wbtb/foto_1483945898.jpg">
        						</div>
        						
    						</div>

                    	</div>
                    	<div class="col-md-6">
                        	<table class="table table-striped">
                            	<tbody>
                            		<tr>
                            			<td  width="200px">Tahun Penetapan</td>
                                		<td>2013</td>
                            		</tr>
                            		<tr>
                                		<td>SK Penetapan</td>
                                		<td>
                        				<div style="margin-bottom: 5px;">
                                                No SK :  <br>
                                                Tanggal SK :<br>
                                                Tingkat SK : 
                        				</div>
                                                                                </td>
                            		</tr>
                            		<tr>
                                		<td>Nama Karya Budaya</td>
                                		<td>Rumah Adat Karo</td>
                            		</tr>
									<tr>
                                		<td>Provinsi</td>
                                		<td>Sumatera Utara</td>
                            		</tr>
                            		<tr>
                                		<td>Domain</td>
                                		<td> Keterampilan dan Kemahiran Kerajinan Tradisional </td>
                            		</tr>
									<tr>
                                		<td>Maestro</td>
                                		<td>.....</td>
                            		</tr>
                            	</tbody>
                        	</table>
                    	</div>
                	</div>
            	</div>
	<!--end of slide show-->
					
					
                                            <!-- tab -->
                        
                           <div class="white_shd full margin_bottom_30">
                              <div class="full inner_elements">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="tab_style1">
                                          <div class="tabbar padding_infor_info">
                                             <nav>
  												<div class="nav nav-tabs" id="nav-tab" role="tablist">
    												<button class="nav-link active" id="nav-deskripsi-tab" data-bs-toggle="tab" data-bs-target="#nav-deskripsi" type="button" role="tab" aria-controls="nav-deskripsi" aria-selected="true">Deskripsi</button>
    												<button class="nav-link" id="nav-referensi-tab" data-bs-toggle="tab" data-bs-target="#nav-referensi" type="button" role="tab" aria-controls="nav-referensi" aria-selected="false">Referensi</button>
													<button class="nav-link" id="nav-galeri-tab" data-bs-toggle="tab" data-bs-target="#nav-galeri" type="button" role="tab" aria-controls="nav-galeri" aria-selected="false">Galeri</button>
  												</div>
											</nav>
											<div class="tab-content" id="nav-tabContent">
  												<div class="tab-pane fade show active" id="nav-deskripsi" role="tabpanel" aria-labelledby="nav-deskripsi-tab">Rumah adat Karo terkenal dengan nama rumah si waluh jabu artinya rumah yang didiami delapan keluarga. Di dalam rumah tersebut diatur menurut ketentuan adat. Adapun delapan keluarga ini memiliki posisi yang berbeda-beda dalam menempati rumah adat. Rumah adat Karo didirikan berdasarkan arah kenjehe (hilir) dan kenjulu (hulu) sesuai aliran sungai pada suatu kampung.</div>
  												<div class="tab-pane fade" id="nav-referensi" role="tabpanel" aria-labelledby="nav-referensi-tab">...</div>
												<div class="tab-pane fade" id="nav-galeri" role="tabpanel" aria-labelledby="nav-galeri-tab">...</div>
											</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        
                        <!-- tab -->
				
	
                </div>
            </div>
        </div>
    </div>
</div>

<br>
    <!-- Footer Area -->
    <footer class="footer-area bg-skeptic">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-5">
            <div class="footer-copyright">
              <p>© 2022 Pusdatin Kemendikbudristek. All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
	
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>
	
  <!-- Vendor Scripts -->
  <script src="js/vendor.min.js"></script>
  <!-- Plugin's Scripts -->
  <script src="plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="plugins/nice-select/jquery.nice-select.min.js"></script>
  <script src="plugins/aos/aos.min.js"></script>
  
  <script src="../../../porjoton.netlify.app/mekanic/js/waypoints.min.js"></script>
  <script src="plugins/counter-up/jquery.counterup.min.js"></script>
  <script src="plugins/isotope/isotope.pkgd.min.js"></script>
  <script src="plugins/isotope/packery.pkgd.min.js"></script>
  <script src="plugins/isotope/image.loaded.js"></script>
  <script src="plugins/menu/menu.js"></script>
  <script src="plugins/flexslider/jquery.flexslider.js"></script>
  <script src="plugins/flexslider/jquery.flexslider-min.js"></script>

  <!-- Activation Script -->
  <script src="js/custom.js"></script>
  <script src="js/jquery-1.11.0.min.js"></script>
  
	
  <script src="plugins/slick/slick.min.js"></script>
  <script type="text/javascript">
        $(document).ready(function()
        {
            $('.selik').slick({
      		autoplay: true,
      		autoplaySpeed: 2500,
			dots: true,
  			infinite: true,
    		});
  		});

  </script>

</body>
</html>