#isearch {
    height:37px;
    line-height:37px;
    border:1px solid rgb(171, 171, 171) !important;
 }

 #kode_wilayah {
    height:37px;
    line-height:37px;
    border:1px solid rgb(171, 171, 171) !important;
 }
 